<ion-content [fullscreen]="true">
  <ion-header collapse="condensed">
      <ion-toolbar>
          <ion-title size="large">Login</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-content>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address</label>
              <input type="email" id="email" name="email" [(ngModel)]="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required #emailInput="ngModel">
              <div *ngIf="emailInput.invalid && emailInput.touched" style="color: red;">Please enter a valid email address.</div>
          </div>

          <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              <input type="password" id="password" name="password" [(ngModel)]="password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" required #passwordInput="ngModel">
          </div>

          <button type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" [disabled]="loginForm.invalid">
              Login
          </button>
      </form>

      <button (click)="onReset()">
          Reset
      </button><br>
      <button (click)="onSignUp()">
          Sign Up
      </button>
  </ion-content>
</ion-content>