<ion-content [fullscreen]="true">
  <div style="height: 100vh; background-color: rgb(122, 122, 122);">
    <header style="background-color: rgb(0, 0, 0); padding: 20px;">
      <h1 class="ion-text-center" style="color: rgb(255, 255, 255);">Galería de Imágenes</h1>
    </header>
    <br>
    <div>
      <ion-button (click)="navigateToLogin()">Login</ion-button>
      <ion-button (click)="navigateToSignUp()">Sign Up</ion-button>
    </div>
    <form (ngSubmit)="addImage(imageUrl)" #form="ngForm">
      <div>
        <label for="imageUrl">URL de la Imagen</label>
        <input id="imageUrl" name="imageUrl" [(ngModel)]="imageUrl" required #imageUrlInput="ngModel">
        <div *ngIf="imageUrlInput.invalid && imageUrlInput.touched" style="color: red;">Por favor, ingrese una URL.</div>
      </div>
      <button type="submit" [disabled]="form.invalid">Agregar Imagen</button>
    </form>
    <br><br><br>
    <div class="container" style="background-color: rgb(141, 141, 141);">
      <div class="gallery">
        <div *ngFor="let image of images$ | async" class="gallery-item">
          <img [src]="image.url" alt="Imagen" style="width: 10%; height: auto;">
          <button (click)="deleteImage(image.id)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>